doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="/styles/register.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet")
    script(src='js/register.js' defer)

    body
        div.main-container
            div.bg-container
                img.bg-image(src="/img/stylish-urban-scene.jpeg")

            div.form-container
                h1 Bienvenue sur 
                    span.snappy-title Snappy
                
                p.intro 
                | Partage tes photos, tes humeurs et tout ce dont tu as envie, sans
                br
                | pression. Discute, like, réagis : ici c’est chill, c’est ton espace.
                br
                | Un réseau social simple, cool et 100% toi.

                form#data-form(action='/register' method='POST')
                    div.container-names
                        input.username(
                            type='text',
                            name='username',
                            placeholder="Prénom"
                        )
                        input.lastname(
                            type='text',
                            name='lastname',
                            placeholder="Nom"
                        )
                    input.email-input(
                        type='email',
                        name='email',
                        placeholder="Email",
                        required
                    )
                    input.password-input(
                        type='password',
                        name='password',
                        placeholder="Password"
                    )
            
                    div.remember-forget-container
                        label
                            input(type="checkbox")
                            span.remember-me Se souvenir de moi
                        a(href='#').forget-password Mot de passe oublié

                    button.login-button(type='submit') S'inscrire

                p.text-inscription-link 
                    | Tu as déjà un compte ? 
                    a.inscription-link(href="/login") connecte-toi